*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

    padding: 0;
}
/* For nav-bar */
.navbar{
    height:60px;
    background-color: #064136;
    color:white;
    /* For arrange all items in same line */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* Nav-logo */
.navlogo{
    width: 113px;
    height: 50px;
    margin: 1px;
    padding: 1px 8px 0px 6px;
}
.logo{
    width:100%;
    height:50px;
    background-size: cover;
    background-image: url("logo.png");

}
.border{
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
}
.border:hover{
    border-width:1px;
    border-style: solid;
    border-color: white;
    border-radius: 1%;
}
/* Nav-address */
.navadress{
    margin:5px 2px 5px 0px;
    padding:0px 9px;
}
.add1{
    font-size: 0.75rem;
    color: #cccccc;
    margin-left: 16PX;
}
.add2{
    font-size: 1rem;
    padding: 0px 0px 1px;
}
.add-icon{
    display: flex;
    align-items: center;
}
/* Nav search-bar */
.nav-Search{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    color:#0f1111;
    height:60px;
    font-size: 14px;
    width: 700px;
    border-radius: 3px;
}
.search-select{
    background-color: #ffffff;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    width:52px;
    height:40px;
    border-style: none;
}
.search-input{
    height:40px;
    width:100%;
    border:none;
}
.search-icon{
    background-color: #AC156D;
    height: 40px;
    width:45px;
    border-style: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.nav-Search:hover{
    transition-timing-function: ease-in-out;
    border-style: solid;
    transition-delay: 1s;
    border-width: 0.00000000000000000000000000000009px;
}
/* Nav-Language-bar*/
.Nav-language{
    display: flex;
    align-items: center;
    width: 55px;
    height: 40px;
}

.language-image{
    background-image: url('usaflag.png'); 
    background-size: cover;
    height: 21px;
    width: 16px;
    margin-right: 5px;
}

.lan-select{
    width: 8px;
    height: 4px;
    border-style: none;
    background: transparent;
    display: flex;
    align-items: center;
    color: white;
    margin-left: 2px;
}

/* Nav-SignIn */
.Nav-first{
    font-size: 0.7rem;
}
.Nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}
/* Nav cart */
.Nav-cart i{/*for change in that icon fix in */
    font-size: 38px;

}
.Nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
}
.cart{
    /* margin-left:38px; */
    padding-top:30px;
    padding-right: 5px;
}
/* 
-----------------------
Pannel


--------------------
*/
.pannel{
    background-color: #076549;
    color:white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 38px;
}
.All{
    font-weight: bold;
}
.opt{
    color: white;
    text-decoration: none;
    margin-left: 10px;
}
.options{
    display: flex;
    align-items: center;
    width:95%;
}
/* 
--------------

Hero section

-----------
*/
.hero{
    height: 400px;
    background-image: url(hero.jpg);
    background-size: cover;
    font-size: 0.85rem;
    display: flex;
    justify-content: center;
    align-items:flex-end;
}
.message{
    background-color: white;
    height: 40px;
    width:85%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;

}
.message a{
    text-decoration: none;
    color: #007185;
}
.message a:hover{
    text-decoration: underline;
}
/* 
-------------

Shopping

-------------------
*/
/* ROWS */
.Row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 20px;
}

/* MAIN BOX (CARD) */
.box {
    background-color: white;
    width: 23%;
    padding: 15px;
    box-sizing: border-box;
}

/* BOX TITLES */
.box h3 {
    font-size: 18px;
    margin-bottom: 0px;
}

/* IMAGE GRID INSIDE BOX */
.block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

/* SMALL IMAGE BLOCKS */
.inblock {
    height: 120px;
    width: 48%;
    background-size: cover;
    background-position: center;
}

/* LARGE IMAGE BOX (BOX 3 & 7) */
.b3,
.b7 {
    height: 260px;
    width: 100%;
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
}

/* ---------- 

      BACKGROUND IMAGES

          ---------- */

/* Box 1 */
.b11 { background-image: url(box1-1.jpg); }
.b12 { background-image: url(box1-2.jpg); }
.b13 { background-image: url(box1-3.jpg); }
.b14 { background-image: url(box1-4.jpg); }

/* Box 2 */
.b21 { background-image: url(box2-1.jpg); }
.b22 { background-image: url(box2-2.jpg); }
.b23 { background-image: url(box2-3.jpg); }
.b24 { background-image: url(box2-4.jpg); }

/* Box 3 */
.b3 { background-image: url(box3.jpg); }

/* Box 4 */
.b41 { background-image: url(box4-1.jpg); }
.b42 { background-image: url(box4-2.jpg); }
.b43 { background-image: url(box4-3.jpg); }
.b44 { background-image: url(box4-4.jpg); }

/* Box 5 */
.b51 { background-image: url(box5-1.jpg); }
.b52 { background-image: url(box5-2.jpg); }
.b53 { background-image: url(box5-3.jpg); }
.b54 { background-image: url(box5-4.jpg); }

/* Box 6 */
.b61 { background-image: url(box6-1.jpg); }
.b62 { background-image: url(box6-2.jpg); }
.b63 { background-image: url(box6-3.jpg); }
.b64 { background-image: url(box6-4.jpg); }

/* Box 7 */
.b7 { background-image: url(box7.jpg); }

/* Box 8 */
.b81 { background-image: url(box8-1.jpg); }
.b82 { background-image: url(box8-2.jpg); }
.b83 { background-image: url(box8-3.jpg); }
.b84 { background-image: url(box8-4.jpg); }

/* PAGE BACKGROUND  */
body {
    background-color: #e3e6e6;
    margin: 0;
}
/* paragraph below images */
.para{
    margin: 5px;
    font-size: 0.65rem;
    margin-right: 20px;
}
.block-para{
    margin-bottom=10px;
}
.link{
    text-decoration: none;
    font-size: 15px;
    color: #007185;
}
/* 
-----------------

        Back to top

        -----------------
*/
footer{
    background-color: #232F3E;
    height:600px;
}
.backtotop{
    height: 50px;
    background-color: #354457;
    color:white;
    display: flex;
    justify-content: center;
}
.backtotop a{
    color:white;
    background-color:transparent;
    margin-top: 10px;
    text-decoration: none;
    border-style: none;
}

.information{
    height:400px;
    color:white;
    display: flex;
    justify-content: space-evenly;
    border-color: #111818;
    border-style: solid;
    border-width: 1px;
    padding: 50px;
}
.bx h4{
    margin-bottom: 10px;
}
.bx a{
    margin-bottom: 10px;
    color: white;
    text-decoration: none;
    display: block;
}
.bx a:hover{
    color:white;
    text-decoration: underline;
}
.lastfooter {
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #232F3E; 
    
}

.footer-logo {
    height: 40px;
    width: 90px;
    background-image: url('footer-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.last {
    margin: 7px;
    height: 40px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
}

.language-selector,
.currency-selector,
.country-selector {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.country-selector img{
    height:45%;
    width:20%;
}